airsim_images
images
archives
__pycache__
airsimImage.txt
imageData.txt
waypoints_*
robot1coverage.py
robot2coverage.py
waypoints_*
robot*
list_*
command_list.txt
precaution_list.txt
components_for_experiment.txt
position_topic_list.txt
temp
